/*Global styles*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: arial, sans-serif;
  font-size: 16px;
  line-height: 1.6;
}

header {
  background-size: 200px 110px;
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  position: fixed; /* Added position property */
  top: 0; /* Added top property */
  left: 0; /* Added left property */
  right: 0; /* Added right property */
  z-index: 999; /* Added z-index property */
}
header h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li a {
  color: whitesmoke;
  text-decoration: none;
  margin-left: 20px;
}

nav ul li a:hover{
  color: greenyellow;
}

.main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  margin-top: 80px; /* Added margin-top property to push down the content */
}

.hero {
  height: 500px;
  background-image: url("img/R.png");
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #fff;
}

.hero h2 {
  
  font-size: 48px;
  margin-bottom: 40px;
}

.hero button {
  background-color: black;
  color: whitesmoke;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 24px;
  cursor: pointer;
}

.hero button:hover{
  background-color: navy;
}

.courses {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 40px;
}


.course-card {
  width: calc(33.3% - 20px); /* Adjusted width and added margin-right */
  margin-bottom: 40px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Fixed rgba value */
  padding: 20px;
}

.course-card img {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.course-card h4 {
  font-size: 24px;
  margin-bottom: 10px;
}

.course-card p {
  font-size: 16px;
  margin-bottom: 20px;
}

.course-card button {
  background-color: black;
  color: whitesmoke;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
}

.course-card button:hover{
  background-color: navy;
}

/* Media Queries */

/* For screens between 768px and 992px */
@media screen and (min-width: 768px) and (max-width: 991px) {
  .courses{
    justify-content: space-around;
  }

  .course-card{
    width: calc(50%-20px);
  }
}

/*For screens Larger than 992px */
@media screen and (min-width: 992px){
  .courses{
    justify-content: space-between;
  }

}
